<div id="fromairport" class="panel">
    <%= form_for(@ride, :url => { :action=>"result", :controller=>"static" } ) do |f| %>
    Airport
    <div class="form-group">
      <div id="prefetch">
        <%= f.text_field :start, :required => true, :placeholder => "Search Airport", :class => "form-control typeahead" %>
      </div>
    </div>
    Destination
    <div class="form-group">
        <%= f.text_field :end,  :required => true, :id => "city", :placeholder => "Destination", :class => "form-control" %>
    </div>
    Date
    <div class="form-group">
        <%= date_field("ride", "date", :required => true, placeholder: "Date") %>
    </div>

    Flight Time
    <div class="form-group">
        <%= time_field("ride", "time",  :required => true, placeholder: "Date") %>
    </div>
    Leave Comments
    <div class="form-group">
        <%= text_area("ride", "comment", placeholder: "ex. I am willing to split uber", :required => true) %>
    </div>
    <% if current_user.present? %>
      <%= f.submit 'Find a RideMate', :class => 'btn btn-main', data: { disable_with: 'Loading...' } %>
    <% else %>
      <div class="btn btn-main btn-landing"><a href="#popUp2"><span style="color:white">Find a RideMate</span></a></div>
    <% end %>
    <% end %>
</div>

<script>
var airports = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,

  prefetch: '/airport.json'
});

// passing in `null` for the `options` arguments will result in the default
// options being used
$('#prefetch .typeahead').typeahead(null, {
  name: 'name',
  source: airports
});

$(function() {
  $( "#city" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "http://gd.geobytes.com/AutoCompleteCity?callback=?&filter=US&template=<geobytes%20city>,%20<geobytes%20code>",
        dataType: "jsonp",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data.slice(0,5) );
        }
      });
    },
    minLength: 3
  });
});
</script>
