<div id="toairport" class="panel active">
    <%= form_for(@ride, :url => { :action=>"result", :controller=>"static" } ) do |f| %>
    <div class="form-group inline-address first-main">
    Departure
        <%= f.text_field :street, :required => true, :id => "city-result", :placeholder => "Departing from", :class => "form-control firstline" %>
    </div>
    <div class="form-group inline-address first-main">
    City
        <%= f.text_field :start_point, :required => true, :id => "city-result", :placeholder => "Departing from", :class => "form-control m-forms firstline" %>
    </div>
    <div class="form-group inline-address second-main">
    Airport
      <div id="pre-fetch">
        <%= f.text_field :end_point, :required => true, :placeholder => "Search Airport", :class => "form-control typeahead firstline", :style => "background-color: white !important"%>
      </div>
    </div>
    <div class="form-group inline-address second-main">
    Date
        <%= date_field("ride", "date", :required => true, placeholder: "Date", :class => "firstline") %>
    </div>
    <div class="form-group inline-address second-sm">
    Flight Time
        <%= time_field("ride", "time",  :required => true, placeholder: "Date", :class => "firstline") %>
    </div>
    <div class="form-group inline-address" style="width: 100%;">
    Leave Comments
        <%= text_area("ride", "comment", placeholder: "ex. I am willing to split uber", :required => true, :class => "firstline") %>
    </div>
    <%= f.submit 'Find a RideMate', :class => 'btn btn-main', data: { disable_with: 'Loading...' } %>
    <% end %>
</div>

<script>
var airports = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/airport.json'
});

// passing in `null` for the `options` arguments will result in the default
// options being used
$('#pre-fetch .typeahead').typeahead(null, {
  name: 'name',
  source: airports
});

$(function() {
  $( "#city-result" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "http://gd.geobytes.com/AutoCompleteCity?callback=?&filter=US&template=<geobytes%20city>,%20<geobytes%20code>",
        dataType: "jsonp",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data.slice(0,5) );
        }
      });
    },
    minLength: 3
  });
});
</script>
