<div id="toairport" class="panel active">
    <%= form_for(@ride, :url => { :action=>"result", :controller=>"static" } ) do |f| %>
    Departure
    <div class="form-group">
        <%= f.text_field :start, :required => true, :id => "city-result", :placeholder => "Departing from", :class => "form-control" %>
    </div>
    Airport
    <div class="form-group">
      <div id="pre-fetch">
        <%= f.text_field :end, :required => true, :placeholder => "Search Airport", :class => "form-control typeahead" %>
      </div>
    </div>
    Date
    <div class="form-group">
        <%= date_field("ride", "date", :required => true, placeholder: "Date") %>
    </div>

    Flight Time
    <div class="form-group">
        <%= time_field("ride", "time",  :required => true, placeholder: "Date") %>
    </div>
    Leave Comments
    <div class="form-group">
        <%= text_area("ride", "comment", placeholder: "ex. I am willing to split uber", :required => true) %>
    </div>
    <% if current_user.present? %>
      <%= f.submit 'Find a RideMate', :class => 'btn btn-main', data: { disable_with: 'Loading...' } %>
    <% else %>
      <a href="#popUp2">
        <div class="btn btn-main btn-landing">
          <span style="color:white">Find a RideMate</span>
        </div>
      </a>
    <% end %>
    <% end %>
</div>
<script>
var airports = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  // url points to a json file that contains an array of country names, see
  // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
  prefetch: '/airport.json'
});

// passing in `null` for the `options` arguments will result in the default
// options being used
$('#pre-fetch .typeahead').typeahead(null, {
  name: 'name',
  source: airports
});

$(function() {
  $( "#city-result" ).autocomplete({
    source: function( request, response ) {
      $.ajax({
        url: "http://gd.geobytes.com/AutoCompleteCity?callback=?&filter=US&template=<geobytes%20city>,%20<geobytes%20code>",
        dataType: "jsonp",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data.slice(0,5) );
        }
      });
    },
    minLength: 3
  });
});
</script>
