<!-- Main landing page -->

<section id="pageone">
    <div id="bg">
      <%= image_tag "bg.png", :id => "bg" %>
    </div>

    <div class="mainmessage">
        <h1>
            EASIEST WAY TO FIND A RIDEMATE TO AIRPORT
        </h1>
        <h3>
            We all need rides to airport. Find a
            <b>
                ridemate
            </b>
            from your school and save money!
        </h3>
    </div>
    <div class="form-style-main" id="background-main">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-casual active">
                <input type="radio" name="options" class="tab active" value="toairport" autocomplete="off" checked>
                <span onclick="toairport()">
                    To Airport
                </span>
            </label>
            <label class="btn btn-casual">
                <input type="radio" name="options" class="tab" value="fromairport" autocomplete="off">
                <span onclick="fromairport()">
                    From Airport
                </span>
            </label>
        </div>

        <br>
        <div class="panels">
            <%= render 'ride/to_airport' %>
            <%= render 'ride/from_airport' %>
        </div>
    </section>
    <section id="pagetwo">
        <h2>
            Find your ridemate with 3 simple steps
            <br>
        </h2>

        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <h3>
                        <img src=http://i263.photobucket.com/albums/ii155/ky3623/searchicon_zpspokcl1ge.png class="icons">
                        <br>
                        Search
                    </h3>
                    <br>
                    Put your flight information and find a ridemate from your school or closest place
                </div>
                <div class="col-md-4">
                    <h3>
                        <img src=http://i263.photobucket.com/albums/ii155/ky3623/listicon_zpsl0u86a63.png class="icons">
                        <br>
                        See my match
                    </h3>
                    <br>
                    See all the list of people who can ride with you to/from the airport
                </div>
                <div class="col-md-4">
                    <h3>
                        <img src=http://i263.photobucket.com/albums/ii155/ky3623/contacticon_zpsduh4ttxg.png class="icons">
                        <br>
                        Contact
                    </h3>
                    <br>
                    Send a message to a person saying you want to ride together and split money
                </div>
            </div>
        </div>
        <br>
    </section>
    <section id="split">
        Split and Save your fare easily by finding a ridemate
        <br><br>
        <%= image_tag("uber.png", :class => "transportation") %>
        <%= image_tag("lyft.png", :class => "transportation") %>
        <%= image_tag("supershuttle.png", :class => "transportation") %>
        <%= image_tag("supreme.png", :class => "transportation") %>
        <%= image_tag("go.png", :class => "transportation") %>
    </section>

    <script>
        function toairport() {
            $('#toairport').addClass('active');
            $('#fromairport').removeClass('active');
        }

        function fromairport() {
            $('#fromairport').addClass('active');
            $('#toairport').removeClass('active');

        }
    </script>
<% console %>
