<!-- <% if @rides.present? %> -->
<div class="container">
    <ol class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">Result
        </li>
    </ol>
    <div class="ridematch">
        <h1>
            Ride Match Results
        </h1>
        <h2>
            x matches available going to SFO Airport on Wed, Jan 14th
        </h2>
    </div>
</div>

<form class="navbar-form " role="search">
    <div class="form-group">
        <input type="date" class="form-control" name="date">
        <input type="time" class="form-control" name="time">
        <input type="text" class="form-control" placeholder="From">
        <input type="text" class="form-control" placeholder="To">
    </div>
    <button type="submit" class="btn btn-info">Update Search</button>
</form><br><br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date
                </th>
                <th width="10%">
                    Time
                </th>
                <th width="10%">
                    From
                </th>
                <th width="10%">
                    To
                </th>
                <th width="10%">
                    School
                </th>
                <th width="20%">
                    Comments
                </th>
            </tr>
        </thead>
        <tbody>
            <% @rides.each do |ride| %>
            <tr>
                <td>
                    <%= User.find_by_id(ride.user_id).name %>
                </td>
                <td>
                    <%= ride.date %>
                </td>
                <td>
                    <%= ride.time %>
                </td>
                <td>
                    <%= ride.start %>
                </td>
                <td>
                    <%= ride.end %>
                </td>
                <td>
                    <%= User.find_by_id(ride.user_id) %>
                </td>
                <td>
                    <%= ride.comment %>
                </td>
                <td>
                    <button type="button" class="btn btn-main">
                        Contact
                    </button>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<!-- <% @rides.each do |ride| %>
    <%= ride.start %>
    <%= ride.end %>
    <br>
  <% end %>
<% else %>
  No matches found!
<% end %> -->
