<div id="body">
    <ul class="nav">
        <div class="<%= 'transparent' if @inverse %>">
            <li class="logo">
                <% if @inverse == "false" %>
                <%= link_to(image_tag("logo.png", :width => 130, :class => "logo-img"), root_path) %>
            </li>
        <% else %>
            <style type="text/css">
                #body>ul.nav {
                    background-color: white;
                    color: white;
                }
                .hello-user {
                    color: #444;
                }

            </style>
            <%= link_to(image_tag("logoblack.png", :width => 130), root_path) %>
        </li>
        <% end %>
        <li class="sign">
            <% if current_user.present? %>
            <div class="hello-user">
                <div style="float: left; padding-right: 0.3em;">Hello</div>
                <b>

                    <div class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <%= current_user.name %><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
                      </div>
                    <ul class="dropdown-menu" >
                      <li><a href="/users">Profile</a></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </div>
                </b>
                </div>
            <% else %>
              <a href="#signin">Sign In</a>
            <% end %>
        </li>
    </div>
</ul>
</div>
<div id="signin" class="signin">
<div class="form-wrapper">
<input id="trigger" type="checkbox">
    <div id="sign-in">
      <%= form_for(u = User.new, url: session_path(u)) do |f| %>
         <header>
                <a href="#!" class="closePopUp">X</a>
                <h2>SIGN IN</h2>
         </header>
            <div class="mat-div" id="mattew">
              <%= f.label :email, :class => "mat-label" %><br />
              <%= f.email_field :email, :class => "mat-input", :id => "E-mail", autofocus: true, :style => "background-color: transparent !important" %>
            </div>

            <div class="mat-div" id="mattew">
              <%= f.label :password, :class => "mat-label" %><br />
              <%= f.password_field :password, :class => "mat-input", :id =>"password", autocomplete: "off", :style => "background-color: transparent !important"  %>
            </div>
            <%= f.submit "Sign In", :class => "btn btn-lg btn-main registration", :style => "background-color: #1abc9c !important"%>
        <div class="btbottom">
          <label class="forgot"><a href="#">Forgot Password</a></label>
          <label class="gosignup" for="trigger">Sign Up</label>
        </div>
      <% end %>
  </div>
    <div id="sign-up">
      <div id="hi">
    <%= form_for(u = User.new, url: registration_path(u)) do |f| %>
        <header>
            <a href="#!" class="closePopUp">X</a>
            <h2>SIGN UP</h2>
        </header>
        <div class="mat-div">
          <%= f.label :name, :class => "mat-label" %><br />
          <%= f.text_field :name, :class => "mat-input ", autofocus: true, :style => "background-color: transparent !important" %>
        </div>

        <div class="mat-div">
          <%= f.label :university_email, :class => "mat-label" %><br />
          <%= f.email_field :email, :class => "mat-input ", :style => "background-color: transparent !important" %>
        </div>

        <div class="mat-div">
          <%= f.label :password, :class => "mat-label" %>
          <%= f.password_field :password, autocomplete: "off", :class => "mat-input", :style => "background-color: transparent !important" %>
        </div>

          <%= f.submit "Sign Up", :class => "btn btn-lg btn-main registration", :style => "background-color: #1abc9c !important" %>
        <label class="fake-link" for="trigger">ALREADY HAVE AN ACCOUNT</label>
    <% end %>
  </div>
  </div>
</div>
</div>

<script>
$(document).ready(function() {
$(".mat-input").focus(function(){
  $(this).parent().addClass("is-active is-completed");
});

$(".mat-input").focusout(function(){
  if($(this).val() === "")
    $(this).parent().removeClass("is-completed");
  $(this).parent().removeClass("is-active");
});
});


</script>
